body {
    background: #002244;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: white;
    font-weight: 100;
    font-size: 2.5rem;
 }
 
 .blurb p {
     color: white;
     font-weight: 100;
     font-size: 1.125rem;
     line-height: 2;
 }
 
 .content {
     margin-top: 100px;
     margin-bottom: 100px;
 }
 

/* All links in navbar */
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
   
}

/* Nav Items hover red  */
#mainNavbar .nav-link:hover {
    color: #00CED1;
   
}
#mainNavbar .navbar-brand {
    color: #B9D9EB;
   
}

#headingGroup span {
    color: #1F305E;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

/* Navbar scroll */
/* when the bg color changes we want it to take 500ms */
.navbar.scrolled {
    background: #002244;
    transition: background 500ms;
}

footer {
    color: white;
    font-weight: 100;
    font-size: 2rem;
}
/* Responsive when changing browser size */
@media (max-width:1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}